:root {
  --color-primary: #350743;
  --color-white: #FFFFFF;
}

.output {
  border: 1px solid red;
}

// body {
//   font-family: 'Poppins', sans-serif;
//   background-color: var(--color-primary);
//   color: var(--color-white);
//   box-sizing: border-box;
// }

// header {
//   text-align: center;
//   font-size: 3rem;
// }

// .form {
//   text-align: center;

//   input {
//     border-radius: 25px;
//     height: 2rem;
//     font-size: 1.5rem;
//     padding: 10px;
//     color: var(--color-primary);
//   }
  
//   input:focus {
//     border-color: var(--color-white);
//   }
// }